<div class="todo-item" [ngClass]="{'completed': todo().completed}">
    <input title="{{'Mark todo item as' + todo().completed? 'Finalizado' : 'Pendente'}}" name="toggleTodo" (change)="toggleTodo()" type="checkbox" class="todo-item__completion" [checked]="todo().completed">
    
    <h3 class="todo-item__title">
        {{todo().title}}
    </h3>
    <button title="{{'Remove Todo Item ' + todo().title}}" (click)="removeTodo.emit(todo())" class="todo-item__remove">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    </button>
</div>
